In [38]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
import random

In [39]:
table = pd.read_csv("train.csv")
table

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [8]:
df = table.drop(columns=["PassengerId", "Name", "Cabin"])
df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [26]:
#Converting single column of bool values to column of ints 1 or 0
#Transported 0 = False, 1 = True
int_df = df.copy()
int_df["Transported"] = int_df["Transported"].astype(int)

int_df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,1
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,1

In [37]:
#converting NaN values in RoomService, FoodCourt, ShoppingMall, Spa, VRDeck to avg
#to-do: figure out how to round
services_df = df.copy()
services_df = services_df.drop(columns=["HomePlanet", "CryoSleep", "Destination", "Age", "VIP", "Transported"])
print(services_df["RoomService"].mean())
for col in services_df.columns[services_df.isnull().any(axis=0)]:
    services_df[col].fillna(services_df[col].mean(), inplace=True)


print(services_df)

224.687617481203
      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0             0.0        0.0           0.0     0.0     0.0
1           109.0        9.0          25.0   549.0    44.0
2            43.0     3576.0           0.0  6715.0    49.0
3             0.0     1283.0         371.0  3329.0   193.0
4           303.0       70.0         151.0   565.0     2.0
...           ...        ...           ...     ...     ...
8688          0.0     6819.0           0.0  1643.0    74.0
8689          0.0        0.0           0.0     0.0     0.0
8690          0.0        0.0        1872.0     1.0     0.0
8691          0.0     1049.0           0.0   353.0  3235.0
8692        126.0     4688.0           0.0     0.0    12.0

[8693 rows x 5 columns]

In [49]:
#OneHotEncoding the dataframe
tempUnique = []
for value in df["HomePlanet"]:
    if value not in tempUnique:
        tempUnique.append(value)

print(tempUnique)

['Europa', 'Earth', 'Mars', nan]

In [44]:
#Total 8693 Rows (Excluding top Row)
#IN "HomePlanet"
#Earth  4602 // 52.95% 
#Europa 2131 // 24.52%
#Mars   1759 // 20.24%
#Nan    200  //  2.3%

#-----200(.5295)+200(.2452)+200(.2024) = 195.42 ~ 195

#Nan Distribution
#-------------------
#Earth get 107 additional
#Europa get 51 additional 
#Mars get 42 additional

home_planet_df = df.copy()
home_planet_df['HomePlanet'].isnull().sum()

#Dictionary to distribute values
home_planet_dict = {"Earth": 107, "Mars":43, "Europa":51}

#Function to get random balue from dictionary and update it
def get_random_dict_value_and_update():
    if not home_planet_dict:
        return np.nan
    key = random.choice(list(home_planet_dict.keys()))
    home_planet_dict[key] -= 1
    if home_planet_dict[key] == 0:
        del home_planet_dict[key]
    return key

#Replace each NaN in 'HomePlanet' with a random value from home planet dict
home_planet_df['HomePlanet'] = home_planet_df["HomePlanet"].apply(lambda x: get_random_dict_value_and_update() if pd.isnull(x) else x)

home_planet_df.isnull().sum()
print(home_planet_df["HomePlanet"].value_counts())

#T

HomePlanet
Earth     4709
Europa    2182
Mars      1802
Name: count, dtype: int64

In [40]:
#logistic regression on table. 1by1 or table...still debating
df2 = df
lr = LogisticRegression(random_state=0)
y = df2["Transported"]
for row in df2["HomePlanet"]:
    res = lr.fit(df2[row], y)

#for col in df2.columns[0:(len(df2) - 1)]:
#    lr = LogisticRegression(random_state=0).fit(df2[col], y)
#    print(lr, "/n")

ValueError: could not convert string to float: 'Europa'